/* CSS VARIABLES */
:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: #686868;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 10px;
    width: 300px;
}

.containerEdit {
    border-bottom: 1px solid var(--light);
    width: 350px;
    text-align: start;
    font-size: 3em;
}


form {
    text-align: center;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    margin-top: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
}

#terms {
    text-align: start;
    font-size: 1.3rem;
    color: var(--light);
}


#language {
    background-color: var(--dark);
    text-align: center;
    color: var(--light);
    height: 50px;
    width: 160px;
    border: none;
    font-size: 1.4rem;
    margin-top: 0px;
}

#testoLingua {
    text-align: start;
    font-size: 1.3rem;
    color: var(--dark);
}

#nameProfile {
    font-size: 1.3rem;
    height: 50px;
    width: 160px;
    background-color: var(--dark);
    border: none;
    text-align: center;
    color: var(--light);
}

#linea {
    border-bottom: 1px solid var(--light);
}

#testoSinistra {
    text-align: start;
    margin-right: 160px;
    font-size: 2rem;
    color: var(--dark);
}

#testoSinistra2 {
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: start;
}

#buttonSettings {
    font-size: 1.3rem;
    height: 70px;
    width: 100%;
    background-color: var(--dark);
    border: none;
    text-align: center;
    color: var(--light);
}

#buttonSettings2 {
    font-size: 1.3rem;
    height: 50px;
    width: 30%;
    background-color: var(--primary);
    border: 1px solid var(--dark);
    text-align: center;
    color: var(--dark);
    margin-bottom: 20px;
    margin-right: 160px;
}

input[type="checkbox"] {
    transform: scale(1.);
}

.button-group button {
    display: block;
    margin-right: 200px;
}


.btn {
    background-color: var(--primary);
    border: 1px solid var(--light);
    font-size: 10px;
    padding: 15px 20px;
}

.btn-primary {
    font-size: 1.3rem;
}

.btn-secondary {
    width: 50%;
    font-size: 1.6rem;
}

.btn-danger {
    width: 80%;
    font-size: 1.8rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    #loghiNav {
      margin-left: 30px;
  
    }
  
    .main-container {
      padding: 20px;
  
    }
  
    .box {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      grid-gap: 10px;
      justify-content: center;
    }
  
    #iconaGrid {
      margin-top: 20px;
      margin-left: 350px;
  
    }
  
    #iconaGrid2 {
      margin-top: 20px;
      margin-left: 10px;
  
    }
  
    #genres {
      text-align: center;
      width: 180px;
      margin-left: 10px;
    }
  
    .main-nav {
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      padding: 0;
      margin-top: 10px;
  
    }
  
    .main-nav a {
      margin: 5px 10px;
    }
  }

@media (max-width: 576px) {
    /* HEADER */
    header {
        display: block;
        padding: 20px;
    }
  
    #logoNetflix {
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
  
    .main-nav {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
  
    .main-nav a {
        display: block;
        margin: 10px auto;
    }
  
    .sub-nav {
        display: block;
        text-align: center;
    }
  
    .sub-nav-logo {
        margin-right: 10px;
    }
  
    /* MAIN CONTAINER */
    .main-container {
        padding: 20px;
    }
  
    .box {
        display: block;
        margin-bottom: 20px;
    }
  
    .box img {
        width: 100%;
        margin-bottom: 20px;
    }
  
    #genres {
        margin: 10px auto;
    }
  
    #iconaGrid,
    #iconaGrid2 {
        margin: 10px auto;
        text-align: center;
    }
  
    /* LINKS */
    .link {
        padding: 20px;
    }
  
    .link button {
        margin: 10px auto;
        display: block;
    }
  
    .sub-links ul {
        padding-top: 20px;
        text-align: center;
    }
  
    .sub-links a {
        display: block;
        margin-bottom: 10px;
    }
  
    .logos {
        text-align: center;
        margin-bottom: 20px;
    }
  
    .logo {
        display: inline-block;
        margin-right: 10px;
    }
  
    /* FOOTER */
    footer {
        padding-left: 20px;
        text-align: center;
    }
  }