.intestazione {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}


.link {
   line-height:0%;
   padding-left: 250px;
   border-left: 3px solid #ffd877;
}

.ombreggiato {
   width: 100%;
   height: 40px;
   background-color: yellow;
   text-align: center;
}

main {
   width: 60%;
   margin: 0 auto;
}

.pcentrato {
   text-align: center;
}

footer {
   text-align: left;
}
