body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 120px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: white;
}

header img {
    width: 175px;
}

section {
    width: 40%;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 3.5em;
    line-height: 0.8;
}

h1 span {
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

h3 {
    font-family: 'Outfit', sans-serif;
    color: #C2128D;
    font-size: 1.3em;
    margin-bottom: 15px;
}

#testo {
    font-size: medium;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

#ulContainer {
    line-height: 1.75;
    padding-left: 22px;
}

form {
    width: 60%;
    font-size: medium;
    font-weight: bold;
}

/*-------------------------------*/

#checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom;
    accent-color: #C2128D;
}

#checkboxContainer,
#buttonContainer {
    display: inline-block;
}

#buttonContainer {
    text-align: right;
    padding-left: 50px;
}

#btnAdd {
    text-align: center;
    width: 200px;
    height: 50px
}

.btnEnabled {
    cursor: pointer;
    background-color: #00ffff;
    box-shadow: 2px 2px 15px 5px #00FFFF, -2px -2px 15px 5px #00FFFF;
    border: 1px solid #00FFFF;
    font-weight: bold;
    font-size: 1.3em;
}

/*-------BENCHMARK-------------*/

#mainBenchmark{
    text-align: center;
    padding: 50px 0;
    margin-bottom: 45px; 
}
.c-countdown-wrapper {
    width: 120px;
    height: 120px; 
    display: inline-block;position: absolute; 
    right: 70px;
    top: 70px; 

}

#testoTimer {
    text-align: center;
    font-size: 0.4em;
    position: absolute; 
    right: 103px;
    top: 108px; 

}

#counterHtml {
    font-size: 2.4em;
}


#idTextQuestions {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1em;
    width: 60%;
    margin: 0 auto;
}

#textBenchmark {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    
}

.domanda {
    border: 2px solid white;
    border-radius: 20px;
    width: 39%;
    height: 70px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.domanda label, .html {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.domanda label {
    height: 70px;
}

.domanda:hover {
    background-color: #00FFFF;
    color: #0B113B;
}

#btnBenchmark {
    background-color: transparent;
    color: white;
    width: 200px;
    height: 60px;   
}



footer {
    text-align: center;      
}

footer p {
    font-size: medium;
    font-family: 'Outfit', sans-serif;
}

#footerColor {
    color: #C2128D;
}


/*-------------------------------*/
/*RESULTS*/

#mainResults {
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

#mainResults h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 15px;
}


#resultsSection {
    width: 100%;
    height: 40%;
    margin-bottom: 30px;
}

#correctAnswers,
#graph,
#wrongAnswers {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
}

#correctAnswers {
    text-align: left;
}

#wrongAnswers {
    text-align: right;
}

#graph {
    text-align: center;
    margin: 15px auto;
}

#correctAnswers h2,
#wrongAnswers h2 {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 0px;
}

#correctPercentage,
#wrongPercentage {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0;

}

#btnRate {
    width: 220px;
    height: 67px;
    cursor: pointer;
    background-color: #00ffff;
    box-shadow: 2px 2px 15px 5px #00FFFF, -2px -2px 15px 5px #00FFFF;
    border: 1px solid #00FFFF;
    font-weight: bold;
    font-size: 1.3em;
}
 
 
/* AGGIUNTA DEL CSS A PAGINA 4 RELATIVA AI FEEDBACK!!!  */

#mainFeedback {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: auto;
    padding-top: 1.5px;
}

#mainFeedback p {
    line-height: 1.4;
    font-size: 1.2em;
}

#mainFeedback h2 {
    font-size: 2em;
}

.star {
    text-align: left;
    font-size: 60px;
    color: #0B113B;
}

.star.active,
.star:hover {
  color: #00ffff;
}


#comment {
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 1.2rem;
    padding: 13px 30px;
    width: 730px;
    color: white;
    border-bottom: 2px solid #c2138e;
}

#containerComment{
    margin-top: 10px;
    padding: 15px;
    display: inline-block;
}

/* INSERIRE BTN IN JS RICHIAMANDO L'ID btnFeedback */
#btnFeedback {  
    width: 220px;
    height: 67px;
    margin-top: 30px;
}

/* CHIUSURA CSS PAGINA 4  */


#thanksgiving {
    text-align: center;
    color: #00ffff;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

}

#footerFinal {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    transform: translateY(-10%);
}
#footerFinal a {
    color: white;
}
#footerFinal a:visited {
    color: white;
}

#epicode img:hover {
    width: 180px;
    box-shadow: 1px 1px 10px 5px #00FFFF, -1px -1px 10px 5px #00FFFF;
    border-radius: 20px;
}